@import url(./grid.css);
@import url(./normalize.css);
@import url(./a11y.css);
@import url(./theme.css);
@import url(./base.css);

/* 웹카페 반응형 스타일 */
/* 공통 스타일 */
body {
  font-size: var(--text-sm);
}

/* 공통 아이콘 */
.far {
  margin-right: var(--spacing-xs);
}
/* 공통 메인 콘텐츠 */
.appMain {
  display: grid;
  padding: var(--spacing-base) var(--spacing-lg);
}

/* 공통 메인 콘텐츠 제목 */
.sprite {
  background: url(./../images/sprite_main.png) no-repeat;
  padding-left: 4.0625rem;
  height: 3.75rem;
}

.spriteBook {
  background-position: 0 0;
}

.spriteNews {
  background-position: 0 -230px;
}

.spriteBoard {
  background-position: 0 -115px;
}

.spriteFavorite {
  background-position: 0 -345px;
}

.spriteTwitter {
  background-position: 0 -460px;
}

.accentBook {
  color: var(--accent-book);
}

.accentNews {
  color: var(--accent-news);
}

.accentBoard {
  color: var(--accent-board);
}

.accentFavorite {
  color: var(--accent-favorite);
}

.accentTwitter {
  color: var(--accent-twitter);
}

.appMain [class*="__title"] {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.appMain [class*="__koTitle"] {
  font-size: var(--text-md);
}

.appMain [class*="__enTitle"] {
  font-weight: 400;
  font-size: var(--text-base);
}

.appMain [class*="__summary"] {
  line-height: 1.5;
  margin-top: var(--spacing-base);
}

/* 공통 추천서적 */
.book__cover {
  width: 60%;
  text-align: center;
  margin: var(--spacing-base) auto;
}

.book__coverCaption {
  margin-top: var(--spacing-sm);
}

.book__info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.ratingStar {
  font-size: var(--text-lg);
}

/* 공통 새소식 */
.news__videoContainer {
  margin-top: var(--spacing-sm);
}

.iframeWrapper {
  position: relative;
  padding-top: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.news__date {
  display: block;
  text-align: right;
  margin-top: var(--spacing-sm);
}

/* 공통 게시판 */
.board {
  background: skyblue;
}

/* 공통 인기사이트 */
.favorite {
  background: salmon;
}

/* 공통 트위터 */
.twitter {
  background: yellowgreen;
}
