@import url(./grid.css);
@import url(./normalize.css);
@import url(./a11y.css);
@import url(./theme.css);
@import url(./base.css);

main{
  /* display: grid; */
  padding: 2rem;
  background: gray;
}
.book{
  background: pink;
}
.title{
  display: flex;
  flex-flow: column nowrap;
}
.sprite{
  background: url(/images/sprite_main.png) no-repeat;
  padding-left: 4rem;
  height: 4rem;
}
/* 위치 조정 */
.spriteBook{
  background-position: 0 0;
}
.accent{
  color: var(--accent-book);
  font-weight: normal;
}
.info{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.cover{
  text-align: center;
}
/* news */
.news{
  background: yellow;
}
.spriteNews{
  background-position: 0 -230px;
}

iframe{
  width: 100%;
  height: 100%;
  /* 비율에 맞게 조정 */
  aspect-ratio: 16/9;
}
.date{
  display: block;
  text-align: right;
}