@import url(./a11y.css);
@import url(./base.css);

/* 교육과정 정보 테이블 */
.lecture__table {
  /* background: yellow; */
  width: 50%;
  margin: 3rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-spacing: 0;
  border-collapse: collapse;
}

.lecture__table caption {
  font-size: 2rem;
  font-weight: 700;
  /* background-color: pink; */
  text-align: left;
  margin-bottom: 1.5rem;
}

.lecture__table th,
.lecture__table td {
  border-bottom: 1px solid black;
  padding: 15px 5px;
}

.lecture__table th {
  text-align: left;
}
